.btn,
button {
  width: 170px;  
  background: transparent;
  border: 1px solid $white-color;
  color: white;
  padding: 16px 24px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
  &:hover {
      color: $white-color;
  }
}

.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}
.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-arrow:hover span {
          transform: translate3d(-0.8rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1rem;
  right: 0rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.btn-arrow svg * {
  stroke-width: 4;
}
.btn-arrow:hover svg {
  opacity: 1;
  right: -1.8rem;
}