* {
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5 {
    margin-bottom:0;
    
}

p {
    margin: 24px 0;
}

a {
    text-decoration: none;
    color: $white-color;
}

img {
    width: 100%;
    border-radius: $border-radius;
}

ul {
    margin-bottom: 0;
}

li {
    list-style: none;
}

.logo {
    h3 {
        color: $white-color;
        font-weight: 700;
    }
    span {
        color: $primary-color;
    }
}