// colors
$primary-color: #2D8ACA;
$dark-color: #4D4D4D;
$white-color: #fff;
$gray-color: #FCFCFC;
$overlay-color: rgba(0, 56, 95, 0.9);

// border radius
$border-radius: 30px;

// transition
$transition: all 0.4s ease;